[core]
    editor = "vim -c 'set spell spelllang=en_us'"
    hooksPath = "~/.git_hooks"
[pager]
    # diff-highlight is script provided by git that shows word-by-word diff
	log  = /usr/share/git/diff-highlight/diff-highlight | less
	show = /usr/share/git/diff-highlight/diff-highlight | less
	diff = /usr/share/git/diff-highlight/diff-highlight | less
[user]
	email = Hi-Angel@yandex.ru
	name = Konstantin Kharlamov
[diff]
	tool = gvimdiff
	algorithm = histogram
[credential "https://github.com"]
    username = Hi-Angel
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.yandex.com
	smtpuser = Hi-Angel
	suppresscc = all
[difftool]
	prompt = false
[alias]
	d = difftool
	l = "log --format=\"%cd %an, %h:\t[34m%s[0m\""
	ret = checkout @{-1}
    lastbranches = "!git for-each-ref --sort='-authordate:iso8601' --format=' %(authordate:relative)%09%(refname:short)' refs/heads | less"
    newbranch = "!f() { git checkout -b $1 upstream/master; }; f"
