[core]
    editor = "vim -c 'set spell spelllang=en_us'"
    hooksPath = "~/.git_hooks"
	quotePath = false
[pager]
    # Use `diffr` to improve diff highlighting. Its algo is betterr than that of
    # diff-highlight
	log  = diffr --line-numbers aligned | ifne less
	show = diffr --line-numbers aligned | ifne less
	diff = diffr --line-numbers aligned | ifne less
[user]
	email = Hi-Angel@yandex.ru
	name = Konstantin Kharlamov
[diff]
	tool = gvimdiff
	algorithm = histogram
[credential "https://github.com"]
    username = Hi-Angel
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.yandex.com
	smtpuser = Hi-Angel
	suppresscc = all
[difftool]
	prompt = false
[alias]
	grep1 = "!git --no-pager grep -In"
	d = difftool
	l = "log --format=\"%cd %an, %h:\t[34m%s[0m\""
	ret = checkout @{-1}
    lastbranches = "!git for-each-ref --sort='-committerdate:iso8601' --format=' %(committerdate:relative)%09%(refname:short)' refs/heads | less"
    newbranch = "!f() { git checkout -b $1 upstream/master; }; f"
    # find duplicate files from the current folder (credits to: https://stackoverflow.com/a/8408640/2388257)
    dups = !"cd `pwd`/$GIT_PREFIX && git ls-tree -r HEAD | cut -c 13- | sort | uniq -D -w 40"

[rebase]
	stat = true
[pack]
	writeReverseIndex = true
[interactive]
    diffFilter = diffr --line-numbers aligned --colors refine-added:foreground:white --colors refine-removed:foreground:white
[color "grep"]
    linenumber = bold
    match = bold brightred
    filename = magenta
[init]
	defaultBranch = master
